body {
  background-image: url();
  background: rgb(147, 149, 225);
  width: 700px;
  margin: auto;
}

h1 {
  color: rgb(12, 1, 1);
  text-align: center;
}

p {
  background: rgb(244, 244, 246);
  color: rgb(10, 10, 10);
  border: 1px solid gray;
  padding: 10px;
}
div {
  border: 5px solid rgb(36, 0, 128);
  text-align: center;
  padding: 5px;
}
table, tr, th {
  border: 1px solid black;
  width: 800px;
  height: 100px;
}
a:hover {
  color: red;
}
iframe {
  background-color: white;
}