.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu li {
  display: inline-block;
  margin-right: 10px;
}

.main-menu li a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: red;
}

iframe {
  background-color: white;
}